<div class="border-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-md-12" id="willInformation">
                        <p> Information about your last will.</p>
                        <div>
                            {{#if hasLastWill}}
                                <div class="row">
                                    <h4>Your most recent last will</h4>
                                </div>
                                <div>
                                    <!-- Replace all <p> with stuff from the contract -->
                                    <p>Name</p>
                                </div>
                                <div>
                                    <p>{{Address}}</p>
                                </div>
                                <div>
                                    <p>EMAIL: </p>
                                    <p>{{email}}</p>
                                </div>
                                <div>
                                    <p>BEN ACCS</p>
                                    <p>{{benAccs}}</p>
                                </div>
                                <div>
                                    <p>is Verified:</p>
                                    <p>{{verifier}}</p>
                                </div>
                                <div>
                                    <p>Verifiers address</p>
                                </div>
                            {{else}}
                                <div class="row">
                                    <form action="/refreshWill" method="post">
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label class="sr-only" for="addr">Addr</label>
                                                <input type="text" id="refreshAddr" name="refreshAddr" class="form-control"
                                                       placeholder="Your account address">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Update last will here" class="btn btn-outline-dark">
                                        </div>
                                    </form>
                                </div>

                                <div class="row">
                                    <h4>This account is currently not set up with a last will yet</h4>
                                </div>
                                <div class="row">
                                    <button onclick="location.href = './createWill'" class="btn btn-outline-dark">Create new last will here</button>
                                </div>
                            {{/if}}
                        </div>
                        <div class="row">
                            <button onclick="loadMyWill()" class="btn btn-outline-dark">Just for testing!</button>
                        </div>
                        <!--Some content here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>