<h2>{{ title }}</h2>
<div class="container">
    <p>Current status: {{ status }}</p>
</div>

<div class="container">
    <img src="./images/stockphoto_film.jpeg" class="img-rounded" alt="Film">
</div>

<div class="container">
    <p>Currently funded in the campaign: {{ funded }} ETH / {{ goal }} ETH</p>
</div>

<div class="container">
    <p>Contract address: {{ contractAddr }}</p>
</div>

<div class="container">
    <p>Contract balance: {{ contractBalance }} ETH</p>
</div>

<div class="container">
    <p>Beneficiary address: {{ ownerAddr }}</p>
</div>

<div class="container">
    <p>Beneficiary balance: {{ ownerBalance }} ETH</p>
</div>

<div class="container form-group">
    <form action="/check-goal" method="post">
        <input type="submit" class="btn btn-outline-dark" value="Check status"></input>
    </form>
</div>

<div class="container form-group">
    <form action="/owner-withdraw" method="post">
        <input type="submit" class="btn btn-outline-dark" value="Withdraw funds"></input>
    </form>
</div>

